.lead {
    line-height: 1.7;
}

.bg-image {
    margin-bottom: 172px;
}

.class-blc-1 {
    margin-bottom: 100px;
}

.class-blc-2 {
    margin-bottom: 80px;
    margin-top: 140px;
}

.class-blc-5 {
    margin-top: 140px;
    margin-bottom: 130px;
}

.class-blc-6 {
    margin-top: 140px;
}

.class-blc-7 {
    margin-top: 140px;
    margin-bottom: 90px;
}

.abt-s {
    font-size: 1.28em;
}

.abt {
    margin-bottom: 150px;
}

.btn-s{
    font-size: 0.9em;
}

.inp-abt {
    margin-bottom: 150px;
}

.class-blc-3 {
    margin-bottom: 80px;
}

.item-class-2 {
    margin-top: 32px;
}

.item-class-3 {
    margin-top: 20px;
}

.item-class-4 {
    margin-top: 10px;
}

section#about-segway { 
    margin-top: 150px; 
    position: relative;
}
    
section#about-segway .section-image { 
    height: 300px;
}

section#about-segway .title {
    font-size: 30px;
    color: #f4a435;
}

section#about-segway .title img { 
    margin-right: 15px;
    width: 30px;
}
    
section#about-segway ol {
    margin-top: 25px;
    font-weight: bold;
    margin-left: 25px;
}

section#catalog { 
    padding-top: 100px;
}

section#catalog .categories {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

section#catalog .categories ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

section#catalog input[type="radio"] {
    position: absolute;
    opacity: 0;
}

section#catalog #giroscooters:checked ~ .categories #giroscooters-tab, 
section#catalog #electric_scooters:checked ~ .categories #electric_scooters-tab, 
section#catalog #segways:checked ~ .categories #segways-tab,
section#catalog #all_tech:checked ~ .categories #all_tech-tab {
    color: #fff;
    background: #ffa019;
}

section#catalog #giroscooters:checked ~.panels #giroscooters-container, 
section#catalog #electric_scooters:checked ~ .panels #electric_scooters-container, 
section#catalog #segways:checked ~ .panels #segways-container,
section#catalog #all_tech:checked ~ .panels #all_tech-container {
    display: flex;
}

section#catalog .categories li label {
    display: inline-block; 
    user-select: none;
    padding: 15px 25px;
    border: solid 2px #ffa019;
    border-radius: 30px;
    cursor: pointer;
    color: #ffa019;
    transition: .5s ease-in-out;
}

section#catalog .categories li { 
    margin-left: 25px;
}

section#catalog .categories li:first-of-type { 
    margin: 0;
}

section#catalog .catalog-container {
    display: none;
}

section#catalog .catalog-container .c-card {
    width: 320px;
    border: solid 1px #e1e1e1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

section#catalog .catalog-container .c-card img { 
    width: 90%;
    margin-top: 25px;
}

section#catalog .catalog-container .c-card .type { 
    display: inline-block;
    border-radius: 0px 0px 5px 5px; 
    background: #ffa019;
    color: #fff;
    padding: 1px 7px;
    margin: 0 15px;
}

section#catalog .catalog-container .c-card .price-container {
    padding: 0 15px;
    margin-top: 15px;
}

section#catalog .catalog-container .c-card .price-container .price { 
    color: #151414;
    font-size: 20px;
    font-weight: bold;
}

.special-img {
    padding-top: 60px;
}

.special-desc {
    padding-top: 39px;
}

.catalog-class {
    margin-top: 160px;
}

.crd-bcg {
    background-color: #a3a1a1;
}

section.panel { 
    width: 100%; 
    padding: 0 130px;
}

section#partners .item{
    font-size: 50px; 
    cursor: default; 
    z-index: -1; 
    top: 0; 
    left: 0; 
    background: #fff;
    position: absolute; 
    height: 100%; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    transform: translateX(-100%); 
    transition-duration: .4s; 
    opacity: 1;
}

section#partners .item p{
    width: 100%; 
    font-weight: bold;
    text-align: center;
    color: #c5c5c5;
}

section#partners .item:hover{
     color: #3d67b0;
} 

section#partners input[type="radio"] {
    position: absolute;
    opacity: 0;
    left: 0; 
    top: 0;
}

section#partners input[type="radio"]:checked + .partners-label {
    border: solid 1px #3d67b0;
    background-color: #3d67b0;
}

section#partners input[type="radio"]:checked ~ .item { 
    transform: translateX(100%);
}

section#partners input[type="radio"]:checked + .partners-label + .item {
    transform: translateX(0); 
    opacity: 1;
}

section#partners .partners-label {
    display: inline-block; 
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    border: solid 1px #e0e0e0;
    cursor: pointer;
    margin: 6px !important;
    transition: .5s ease-in-out;
}

section#partners #brand-container {
    overflow: hidden;
    position: relative;
}

.line-w {
    line-height: 1.7em;
    font-size: larger;
}

.bg-secondary-special {
    background-color: #fafafa;
}